<div class="body">
<p class="right">
  <img src="/assets/img/cat1.jpg"  width="500" height="333" ></p>
<h3><p>Not only people need a house<br>
  <q class="text">You can't change the world by helping one dog,
    but you will change the world for that one dog</q></p></h3>
  <a href="Dog" class="btn btn-warning" role="button" >Make a friend</a>
</div>
<div class="body" style="background-color: #612800;">
  <h2 class="abt">About the shelter</h2>
  <p class="about">The history of "Cat&Dog" began in 2010, when a temporary shelter was founded for 200 dogs rescued from trapping services.
    Today the shelter is the only humane solution to the social problem of homeless animals in our city. The purpose of creating
    the shelter was to provide assistance to homeless and abandoned animals. Later, on the basis of the shelter, the Animal Security
    public fund was created, one of the most important tasks of which is to foster a humane attitude towards animals in society.
    The shelter has already acquired its own territory - thanks to the help of volunteers, a land plot of 5.3 hectares has been purchased.
    Currently, there are about 150 dogs on the territory of the shelter.
    The shelter is funded by charitable donations.
  </p>
  <h2 class="reason">Reasons for the appearance of homeless animals:</h2>
  <p class="about"> Lost animal - {{num1 | percent}} <br>
    Offspring of homeless animals - {{num2 | percent}}<br>
    Abandoned animals - {{num3 | percent}}<br>
  About 350 thousand stray animals are annually destroyed in Kazakhstan. Every year these numbers grow more and more, for this we need our
    shelter to protect homeless and defenseless animals.For those people who want to help, but cannot pick up an
    animal, there is a choice to help with food, or you can send money to our shelter.</p>
</div>
